# =========================
# Visual Studio / IDE
# =========================
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.slnx

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
venv/
.env

# =========================
# Database
# =========================
*.db
*.sqlite

# =========================
# OS / Temp
# =========================
.DS_Store
Thumbs.db
*.swp

# =========================
# Logs / Test
# =========================
*.log
*.bak
*.coverage
*.pytest_cache/
